@model shopping_online.Context.Order_status

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Order.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order_status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order_status_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_status_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Order_status_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
