
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Order.cshtml";
}

<h2>Index</h2>

@if (Model.cus_order != null)
{
    <div class="alert alert-success">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="fa fa-times"></i>
        </button>
        <strong>Well done!</strong> You successfully add new product.
    </div>
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.account_name)
        </td>

    </tr>
}