@using shopping_online.Models;
@model IEnumerable<Order>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (Order order in Model)
            {
                <li>@Html.ActionLink(order.Order_note, "Index", "Order", new { id = order.Order_id}, null)</li>
            }